.bs-docs-header {
  background-color: #06B8C7;
  background-image: -webkit-linear-gradient(top, #057A75 0, #058199 100%);
  background-image: linear-gradient(to bottom, #057A75 0, #058199 100%);
  color: #BFE3E2; }
  .bs-docs-header a {
    color: #ffffff;
    text-decoration: underline; }

.paper-example {
  position: relative;
  height: 680px;
  width: 720px; }
  .paper-example img#paper {
    width: 100%; }

.scinav {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 300px; }
  .scinav .red {
    background-color: red; }
  .scinav .yellow {
    background-color: yellow; }
  .scinav .cyan {
    background-color: cyan; }
  .scinav .green {
    background-color: green; }
  .scinav .gray {
    color: #bbb; }
  .scinav .margin {
    position: absolute;
    top: 55px;
    right: 0px;
    bottom: 0px;
    width: 10px;
    background-color: rgba(100, 100, 100, 0.1); }
    .scinav .margin .margin-highlight {
      opacity: 0.4;
      position: absolute;
      height: 20px;
      width: 10px; }
    .scinav .margin .tooltip {
      min-width: 200px; }
  .scinav .pane, .scinav .pane-bg {
    position: absolute;
    top: 0px;
    right: 10px;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    font-size: 11px; }
    .scinav .pane .sep, .scinav .pane-bg .sep {
      border-bottom: 1px solid #fff;
      height: 0px;
      margin: 10px 0px;
      width: 100%; }
    .scinav .pane ul, .scinav .pane-bg ul {
      padding-left: 10px; }
    .scinav .pane #other-btns button, .scinav .pane #other-btns a, .scinav .pane-bg #other-btns button, .scinav .pane-bg #other-btns a {
      padding: 3px 6px; }
    .scinav .pane .alert, .scinav .pane-bg .alert {
      padding: 5px;
      margin-bottom: 5px; }
    .scinav .pane .btn-toolbar button.btn, .scinav .pane-bg .btn-toolbar button.btn {
      padding: 5px 10px; }
    .scinav .pane button.alert, .scinav .pane a.alert, .scinav .pane a.tag, .scinav .pane-bg button.alert, .scinav .pane-bg a.alert, .scinav .pane-bg a.tag {
      display: block;
      text-align: left;
      width: 135px; }
      .scinav .pane button.alert i, .scinav .pane a.alert i, .scinav .pane a.tag i, .scinav .pane-bg button.alert i, .scinav .pane-bg a.alert i, .scinav .pane-bg a.tag i {
        margin: 0px 3px;
        text-align: center;
        width: 10px; }
    .scinav .pane button.btn, .scinav .pane a.btn, .scinav .pane a.tag, .scinav .pane-bg button.btn, .scinav .pane-bg a.btn, .scinav .pane-bg a.tag {
      font-size: 11px; }
  .scinav .subpanel, .scinav .subpanel-bg {
    position: absolute;
    top: 105px;
    right: 160px;
    bottom: 100px;
    width: 400px; }

.btn-full {
  width: 100%; }

.glass {
  background: cyan;
  background: rgba(250, 255, 255, 0.85);
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px); }

ul.no-bullet {
  list-style-type: none;
  padding-left: 0px; }

.hidden {
  display: none; }

.profile .profile-image {
  width: 140px; }
.profile .profile-header-info {
  width: 210px;
  float: right; }
  .profile .profile-header-info h3 {
    margin-top: 0px; }
.profile .publications {
  margin-top: 30px; }

.text-highlights {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px; }
  .text-highlights .text-highlight {
    opacity: 0.4;
    position: absolute;
    height: 20px;
    width: 20px; }

#tags a.alert, #tags a.tag {
  display: inline-block;
  text-align: left;
  font-size: 11px;
  padding: 5px;
  margin-bottom: 5px; }
  #tags a.alert i, #tags a.tag i {
    margin: 0px 3px;
    text-align: center;
    width: 10px; }
