.bs-docs-header {
  background-color: #06b8c7;
  background-image: -webkit-linear-gradient(top, #057a75 0, #058199 100%);
  background-image: linear-gradient(to bottom, #057a75 0, #058199 100%);
  color: #bfe3e2;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.paper-example {
  height: 680px;
  position: relative;
  width: 720px;

  #paper {
    width: 100%;
  }
}

$red: #f00;
$yellow: #ff0;
$cyan: #0ff;
$green: #008000;

.scinav {
  &.sidebar {
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
  }

  .red {
    background-color: $red;
  }

  .yellow {
    background-color: $yellow;
  }

  .cyan {
    background-color: $cyan;
  }

  .green {
    background-color: $green;
  }

  .gray {
    color: #bbb;
  }

  .beagle-header {
    text-align: center;
    margin-top: 0px;
  }

  .beagle-icon {
    display: block;
    margin: 0 auto;
    max-width: 80px;
  }

  .margin {
    background-color: rgba(100, 100, 100, .1);
    bottom: 0;
    position: absolute;
    right: 0;
    top: 55px;
    width: 10px;

    .margin-highlight {
      height: 20px;
      opacity: .4;
      position: absolute;
      width: 10px;
    }

    .tooltip {
      min-width: 200px;
    }

  }

  .pane,
  .pane-bg {
    bottom: 0;
    padding: 10px 10px 10px 20px;
    position: absolute;
    overflow: scroll;
    right: 10px;
    top: 0;
    width: 100%;

    .sep {
      border-bottom: 1px solid #fff;
      height: 0;
      margin: 10px 0;
      width: 100%;
    }

    ul {
      padding-left: 10px;
    }

  }

  .subpanel,
  .subpanel-bg {
    bottom: 100px;
    position: absolute;
    right: 160px;
    top: 105px;
    width: 400px;
  }

  .share-panel {
    margin-top: 20px;
  }

  .screenshot-button {
    margin-top: 5px;
  }

  .publication-details {
    list-style: none;
  }

  .email-sent {
    margin-top: 5px;
  }

  #other-btns {
    button,
    a {
      padding: 3px 6px;
    }
  }

  .alert {
    margin-bottom: 5px;
    padding: 5px;
  }

  .btn-toolbar button.btn {
    padding: 5px 10px;
  }

  button.alert,
  a.alert,
  a.tag {
    i {
      margin: 0 3px;
      text-align: center;
      width: 10px;
    }

    display: block;
    margin: 0 5px 5px 0;
    padding: 5px 10px;
    text-align: left;
    width: 135px;
  }

  button.btn,
  a.btn,
  a.tag {
    font-size: 11px;
  }

  font-size: 11px;


}

.btn-full {
  width: 100%;
}

.glass {
  background: $cyan;
  background: rgba(250, 255, 255, .85);

  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}

ul.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

.hidden {
  display: none;
}


.profile {
  .profile-image {
    width: 140px;
  }

  .profile-header-info {
    float: right;
    width: 210px;

    h3 {
      margin-top: 0;
    }
  }

  .publications {
    margin-top: 30px;
  }
}


.text-highlights {
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
  top: 0;

  .text-highlight {
    height: 20px;
    opacity: .4;
    position: absolute;
    width: 20px;
  }
}

#tags {
  a.alert,
  a.tag {
    display: inline-block;
    font-size: 11px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;

    i {
      margin: 0 3px;
      text-align: center;
      width: 10px;
    }
  }
}

.notification-banner {
  background-color: rgba(50, 100, 47, .6);
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  position: relative;
  text-align: center;
  top: 110px;
  width: 40%;
  z-index: 10;
}
